  
:root {
    --primary-text-color: #212121;                /* цвет основного текста #212121 */
    --secondary-text-color: #757575;              /* вторичный цвет #757575 */
    --third-color: #ffffff;                       /* третий цвет (белый) #ffffff */
    --logo-color: #000000;                        /* цвет логотипа #000000 */
    --accent-color: #2196f3;                      /* акцент active #2196f3 */
    --accent-hero-button: #188ce8;                /* active hero-button #188ce8 */
    --primary-bg-color: #ffffff;                  /* фон страницы #ffffff */
    --secondary-bg-color: #f5f4fa;                /* вторичный фон #f5f4fa */
    --footer-bg-color: #2f303a;                   /* фон подвала #2f303a */
    --footer-link: rgba(255, 255, 255, 0.6);      /* ссылки подвала rgba(255, 255, 255, 0.6) */
    --icons-color: rgba(175, 177, 184, 1);        /* цвет иконок в секции наша команда */
   
    --header-border: #ececec;                     /* нижняя рамка шапки сайта */
    --regular-clients-border: rgba(175, 177, 184, 1); /*рамка "Постоянные клиенты" */
    --portfolio-border: #eeeeee;                  /* рамка в карточках на странице Портфолио */
    --card-set-gap: 30px;                           /* Отступы между карточками в Портфолио */    
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Логотип */
.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  
}

.logo span {
    color: var(--accent-color);
}

.logo.link {
    display: flex;
    margin-right: 93px;
}

/* Навигация */
.header-border {
    border-bottom: 1px solid var(--header-border);
}

.header.container {
    display: flex;
    align-items: center;
}

.navigation, .nav-list, .contacts {
    display: flex;
    align-items: center;
}

.contacts {
    margin-left: auto;
}

.nav-list, .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.nav-list a {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-list a:hover, .nav-list a:focus {
    color: var(--accent-color);
}

.nav-list a.current {
    color: var(--accent-color);
}

.contacts a {
    display: flex;
    align-items: center;
    
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contacts a:hover, .contacts a:focus {
    color: var(--accent-color);
}

.icon-mail {
    margin-right: 10px;
    fill: currentcolor;
}

.icon-mail:hover, .icon-mail:focus {
    fill: var(--accent-color);
}

.icon-phone {
    margin-right: 10px;
    fill: currentcolor;
}

.icon-phone:hover, .icon-mail:focus {
    fill: var(--accent-color);
}

/* Герой */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--footer-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url('../images/background.jpg');  
}

.hero-content {
    text-align: center;
}

.hero-title {
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30px; 
    margin-right: auto;
    margin-left: auto;

    color: var(--third-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
 
.hero-button {  
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 10px 32px; 

    color: var(--third-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--accent-hero-button);
}

/* Секции */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Особенности */
.features.section {
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-feature {
    display: flex;
}

.section-feature .item {
    width: 270px;
}

.section-feature .item:not(:last-child) {
    margin-right: 30px;
}

.feature {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-feature p {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.button-feature {
    padding: 0;
    border: none;
    width: 270px;
    height: 120px;

    background-color: var(--secondary-bg-color);

    border-radius: 4px;
    cursor: default;
}

/* Чем мы занимаемся */

.what-we-do .list {
    display: flex;
}

.what-we-do .item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do .item {
    width: 370px;
}

/* Наша команда */
.team.section {
    background-color: var(--secondary-bg-color);
}

.team .list {
    display: flex;
    text-align: center;
}

.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .item {
    width: 270px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);             
}

.team-content {
    padding: 30px 20px 16px;
    background-color: var(--primary-bg-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

/* Ссылки соцсетей */

.team-social {
    padding: 0 32px 30px;
    background-color: var(--primary-bg-color);
}

.team-social li:not(:last-child) {
    margin-right: 10px;
}

.team-social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
     
    fill: var(--icons-color);
    background-color: var(--primary-bg-color);
    border-radius: 50%;
}

.team-social .link:hover, .team-social .link:focus {
    fill: var(--third-color);
    background-color: var(--accent-color);
}

/* Постоянные клиенты */
.regular-clients-list {
    display: flex;
}

.regular-clients-item:not(:last-child) {
    margin-right: 30px;
}

.regular-clients-item .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 170px;
    height: 92px;
    
    fill: var(--icons-color);
    background-color: var(--primary-bg-color);

    cursor: pointer;
    border: 1px solid var(--regular-clients-border);
    border-radius: 4px;
}

.regular-clients-item .link:hover, .regular-clients-item .link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}
/* Подвал сайта */
.footer {
    background-color: var(--footer-bg-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-content {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-right: 70px;
}

.logo.inverse {
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;

    color: var(--third-color);
}

.address {
    display: flex;
    flex-direction: column;

    font-style: normal;
}

.address p {
    margin-top: 0;
    margin-bottom: 9px;

    color: var(--third-color);
    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 1.71;
}
 
.item.mail {
    margin-bottom: 9px;  
}

.footer-contacts a {
    display: block;
    
    color: var(--footer-link);
    text-decoration: none;
}

.footer-contacts a:hover, .footer-contacts a:focus {
    color: var(--accent-color);
}

/* Ссылки на соцсете в футере */
.social-links {
    display: flex;
    flex-direction: column;
    
}

.join {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--third-color);
}

.social.list {
    display: flex;
    padding: 0;
    margin: 0;    
}

.social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
     
    fill: var(--third-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.social .link:hover, .social .link:focus {
    background-color: var(--accent-color);
}

.social li:not(:last-child) {
    margin-right: 10px;
}


/* ПОРТФОЛИО */

/* Фильтры */

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters li:not(:last-child) {
    margin-right: 8px;
}

.filters button {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    background-color: var(--secondary-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.filters button:hover, .filters button:focus {
    background-color: var(--accent-color);
    color: var(--third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Сетка карточек */

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.projects > .item {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.item {
    overflow: hidden;
}

.projects .item:hover, .projects .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* Проекты */

.portfolio img {
    width: 370px;
}

.projects a {
    display: block;
    text-decoration: none;
}

.project-content {
    border-right: 1px solid var(--portfolio-border);
    border-bottom: 1px solid var(--portfolio-border);
    border-left: 1px solid var(--portfolio-border);
    padding: 20px 24px;
}


.project-title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}
