.features {
    padding-bottom: 0;
}

.features__list {
    display: flex;
}

.features__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }   
}

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

    color: $secondary-text-color;
}

.features__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    background-color: $secondary-bg-color;

    border-radius: 4px; 
}

.features__icon {
    padding: 0;
    width: 70px;
    height: 70px;
    border: none;
}