.features {
    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    } 
}

.features__list {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.features__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
   
}   

.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

    color: $secondary-text-color;
}

.features__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    background-color: $secondary-bg-color;

    border-radius: 4px; 
}

.features__icon {
    padding: 0;
    width: 70px;
    height: 70px;
    border: none;
}