// Шапка сайта 
.header {
    position: relative;
    border-bottom: 1px solid $header-border;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.mobile__container {
    @media  screen and (max-width: 767px) {
        display: none;

        position: fixed;
        padding: 48px 40px;
	    top: 0;
	    left: 0;
	    width: 100vw;
        height: 100vh;
        z-index: 10;

        background-color: $primary-bg-color;

            &.is-open {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    }
    @media  screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// Кнопка "БУРГЕР"
.mobile__button-open {
	padding: 0;
	margin-left: auto;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;

	cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
	padding: 0;
	margin-left: auto;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;

	cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}


.mobile__icon-cross,
.mobile__icon-menu {
	@include transition1 (fill);

	.mobile__button:hover &, .mobile__button:focus & {
        fill: $accent-color;
    }
}


// Логотип 
.logo {
    font-family: $secondary-font-family;
    font-size: 24px;
    line-height: 1.16;

    color:$primary-text-color;
    text-decoration: none;

    @media screen and (min-width: $desktop) { 
        font-size: 26px;
        line-height: 1.19;

        color: $logo-color;
    }
}

.logo__accent {
    color: $accent-color;
}

.header__logo {
    display: inline-flex;
    padding: 15px 0;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        margin-right: 88px;
        padding: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }  
}


// Навигация 
.main-nav {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 83px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 288px;
    } 
}

.main-nav__link {
    display: inline-block;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 1.14;

        @include transition1 (color);

        &:hover, &:focus {
            color: $accent-color;
        }
    }
}

.main-nav__link:not(:last-child) {
    @media screen and (min-width: $tablet) {
        margin-right: 50px;
    }
}

.main-nav__link--current {
    color: $accent-color;
    @media screen and (min-width: $tablet) {
        position: relative;
    }
}

.main-nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
}

// Контакты 
.header__contact-list {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: $tablet) {
        flex-direction: column;
        margin-left: auto;
    }
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
        }  
}

.header__contact-item:not(:last-child) {
    @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.header__contact-link {
    display: block;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    color: $secondary-text-color;

    @include transition1 (color);

        &:hover, &:focus {
            color: $accent-color;
        }
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.mobile__phone-link {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        color: $accent-color;
    }
}

.mobile__mail-link {
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: $secondary-text-color;
    }
}

.header__contact-icon {
    @media  screen and (max-width: 767px) {
        display: none;
    }
        margin-right: 10px;
        fill: currentColor;

        &:hover, &:focus {
            fill: $accent-color;
        }
}

// Cсылки на соцсети
.mobile-socials {
    @media  screen and (min-width: $tablet) {
        display: none;
    }
}

.mobile-socials__link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: $accent-color;

    text-decoration: none;
}

.mobile-socials__link:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link:not(:first-child) {
    padding-left: 5px;
}

.mobile-socials__link:not(:last-child) {
    padding-right: 10px;
}