// Шапка сайта 
.header {
    border-bottom: 1px solid $header-border;
}

.header__wrapper {
    display: flex;
    align-items: center;
}


// Логотип 
.logo {
    font-family: $secondary-font-family;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  

    color: $logo-color;
}

.logo__accent {
    color: $accent-color;
}

.header__logo {
    display: flex;
    margin-right: 93px;
}

// Навигация 
.main-nav, .main-nav__list {
    display: flex;
    align-items: center;
}

.main-nav__list, .header__contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav__item:not(:last-child) {
    margin-right: 50px;
}

.main-nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primary-text-color;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
    }
}

.main-nav__link--current {
    position: relative;
    color: $accent-color;
}

.main-nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
}

// Контакты 
.header__contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__contact-item:not(:last-child) {
    margin-right: 50px;
}

.header__contact-link {
    display: flex;
    align-items: center;
    
    color: $secondary-text-color;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
    }
}

.header__contact-icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover, &:focus {
        fill: $accent-color;
    }
}
