// Фильтры 

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        }
}

@media screen and (max-width: 767px) {
    .filters__item:nth-child(-n + 3) {
        margin-bottom: 15px;
    }
}

.filters__item:not(:last-child) {
    margin-right: 8px;
}

.filters__button {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    background-color: $secondary-bg-color;

    cursor: pointer;

    @include transition3 (background-color, color, box-shadow);

    &:hover, &:focus {
        background-color: $accent-color;
        color: $third-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

// Сетка карточек 

.card-set {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr)
    }    
}

.card-set__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

// Оформление карточек 

.card-set__link {
    display: block;
    text-decoration: none; 

    @include transition1 (box-shadow);

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.product__img {
    width: 100vw;
}

.product__meta {
    padding: 20px 24px;
    border-right: 1px solid $portfolio-border;
    border-bottom: 1px solid $portfolio-border;
    border-left: 1px solid $portfolio-border;

    &--second {
        @media screen and (min-width: 768px ) and (max-width: 1199px ) {
            padding: 20px 15px;
        }
    }
}

.product__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $primary-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: $secondary-letter-spacing;
}

.product__type {
    margin: 0;
    
    font-size: 16px;
    line-height: 1.87;

    color: $secondary-text-color;
}


// Наложение  

.product__overlay {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product__overlay::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    @include transition2 (transform, background-color);
    
    .product:hover &, .product:focus & {
        transform: translateY(0);
    }
} 

.product__overlay:hover::before, .product__overlay:focus::before {
    transform: translateY(0);
}

.product__label {
    position: absolute;
    top: 0;
    
    margin: 0;
    padding: 63px 24px;

    color: $third-color;

    font-size: 18px;
    line-height: 1.55;

    transform: translateY(100%);
    
    @include transition2 (transform, color);

    .product:hover &, .product:focus &{
        transform: translateY(0);
    }

    .product__overlay:hover &, .product__overlay:focus & {
        transform: translateY(0);  
    }
    
}  