// Фильтры 

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters__item:not(:last-child) {
    margin-right: 8px;
}

.filters__button {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    background-color: $secondary-bg-color;

    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $accent-color;
        color: $third-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

// Сетка карточек 

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$card-set-gap});
    margin-top: calc(-1 * #{$card-set-gap});
}

.card-set__item {
    flex-basis: calc(100% / 3 - 3 * #{$card-set-gap});
    margin-left: $card-set-gap;
    margin-top: $card-set-gap;
}

// Оформление карточек 

.card-set__link {
    display: block;
    text-decoration: none; 

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.product__meta {
    padding: 20px 24px;
    border-right: 1px solid $portfolio-border;
    border-bottom: 1px solid $portfolio-border;
    border-left: 1px solid $portfolio-border;
    
}

.product__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $primary-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: $secondary-letter-spacing;
}

.product__type {
    margin: 0;
    
    font-size: 16px;
    line-height: 1.87;

    color: $secondary-text-color;
}


// Наложение  

.product__overlay {
    position: relative;
    width: 370px;
    overflow: hidden;
}

.product__overlay::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition-property: transform, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .product:hover & {
        transform: translateY(0);
    }
} 

.product__overlay:hover::before, .product__overlay:focus::before {
    transform: translateY(0);
}

.product__label {
    position: absolute;
    top: 0;
    
    margin: 0;
    padding: 63px 24px;

    color: $third-color;

    font-size: 18px;
    line-height: 1.55;

    transform: translateY(100%);
    
    transition-property: transform, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .product:hover & {
        transform: translateY(0);
    }

    .product__overlay:hover &, .product__overlay:focus & {
        transform: translateY(0);  
    }
    
}  