.what-we-do__list {
    display: flex;
    position: relative;
}
  
.what-we-do__item {
    width: 370px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.what-we-do__label {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $third-color;
    background-color: rgba(47, 48, 58, 0.8);
}