$primary-text-color: #212121;                       // цвет основного текста #212121 
$secondary-text-color: #757575;                     // вторичный цвет #757575 
$third-color: #ffffff;                              // третий цвет (белый) #ffffff 
$logo-color: #000000;                               // цвет логотипа #000000 

$accent-color: #2196f3;                             // акцент active #2196f3 
$accent-hero-button: #188ce8;                       // active hero-button #188ce8 

$primary-bg-color: #ffffff;                         // фон страницы #ffffff 
$secondary-bg-color: #f5f4fa;                       // вторичный фон #f5f4fa 
$footer-bg-color: #2f303a;                          // фон подвала #2f303a 

$footer-link: rgba(255, 255, 255, 0.6);             // ссылки подвала rgba(255, 255, 255, 0.6) 
$icons-color: rgba(175, 177, 184, 1);               // цвет иконок в секции наша команда 

$header-border: #ececec;                            // нижняя рамка шапки сайта 
$regular-clients-border: rgba(175, 177, 184, 1);    // рамка "Постоянные клиенты" 
$portfolio-border: #eeeeee;                         // рамка в карточках на странице Портфолио 
$form-border:rgba(33, 33, 33, 0.2);

$card-set-gap: 30px;                                  // Отступы между карточками в Портфолио 

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

$primary-letter-spacing: 0.03em;
$secondary-letter-spacing: 0.06em;

